.App {
  text-align: center;
}
.nav_gocart{
  
  border-radius: 0;
  padding: 2rem;
  height: 7rem;
  font-size: large;
}
.title{
  float: left;
}
.heading{
  float: left;
  margin-left:8rem ;
}
#title_color{
  color:rgb(190, 59, 59);
}

.home_button{
  border: none;
  font-size: medium;
  font-weight: bold;
  padding: 0rem 1rem;
  background-color: transparent;
}
.home_button:hover{
  border: none;
  background-color: transparent;
  color: rgb(190, 59, 59);
}


.search_bar{
  margin:0rem 8rem;
  width: 300px;
  font-size: medium;
  border: 1px solid lightskyblue;
}
.search_bar:hover{
  margin:0rem 8rem;
  width: 300px;
  font-size: medium;
  border: 1px solid red;
}

#cart{
  font-family: Arial, Helvetica, sans-serif;
}
#left{
  padding: 3rem;
  overflow: auto;
  height: 600px;
  min-height: 100px;
}
#right{
  padding:2rem;
  padding-top:5rem;
}
.prev_button{
  border: None;
  padding: 0rem 3.5rem;
  background-color: transparent;
  float: left;
  font-size: xx-large;
  font-weight: bolder;
}
.next_button{
  border: None;
  padding: 0rem 3.5rem;
  background-color: transparent;
  float: right;
  font-size: xx-large;
  font-weight: bolder;
}
.next_button:hover , .prev_button:hover{
  border: None;
  background-color: transparent;
  color:tomato;
  font-size: xx-large;
  font-weight: bolder;
}

#brand{
  font-size: 2.5rem;
  font-weight: bolder;
}
#desc{
  font-size: 2.2rem;
  font-weight: lighter;
}
#rating{
  font-size: 1.5rem;
  font-weight: bolder; 
}

#underline{
  margin-top: 1rem;
  border-top: 1px solid burlywood;
}

#dis_cost{
  font-size: 2.5rem;
  font-weight: bolder;
  padding-right: 2rem;
}

#cost{
  font-size: 2rem;
  font-weight: lighter;
  padding-right: 1rem;
  text-decoration: line-through;
}

#discount{
  font-size: 2rem;
  font-weight: bold;
  color: palevioletred;
}

#taxes{
  font-size: 1.5rem;
  font-weight: bold;
  color:rgb(19, 108, 143)
}

#size{
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 4rem;
  padding-bottom: 2rem;
}


#err_msg{
  font-size: 1.5rem;
  font-weight: normal;
  color:red;
  padding-top: 2rem;
  padding-left: 2rem;
}
.addcart{
  font-size: 1.7rem;
  margin-top: 2rem;
  font-weight: bolder;
  padding:1rem 2rem;
  background-color: transparent;
  border: 2px solid rgb(190, 59, 59) ;
  border-radius: 3%;
  color:rgb(190, 59, 59) ;
}

.addcart:hover{
  font-size: 1.7rem;
  margin-top: 2rem;
  font-weight: bolder;
  padding:1rem 2rem;
  border-radius: 3%;
  background-color: rgb(190, 59, 59);
  border: 1px solid rgb(190, 59, 59) ;
  color:whitesmoke ;
}

/* billing page */
#my_cart_title{
  font-size: x-large;
  font-weight: bolder;
  margin: 2rem 20rem 0rem 2rem;
}
#total_billing_amount{
  font-size: x-large;
  font-weight: bolder;
  color: tomato;
  margin: 2rem 2rem 0rem 15rem;;
}

#cart_empty{
  font-size: xx-large;
  font-weight: bolder;
  color: tomato;
  margin: 10rem 0rem 0rem 15rem;
  float: left;
}

.cart_items{
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem 2rem;
  max-width: 100%;
  margin-top:3rem;
}
.cart_img{
  float: left;
  width:20rem;
}
.cart_item_details{
  float: left;
  width: 41rem;
}
#cart_item_brand{
  font-size: x-large;
  font-weight: bold;
  padding: 2rem;
}
#cart_item_cost{
  font-size: large;
  font-weight: bold;
  float: right;
  padding-top: .5rem;
}
#cart_item_desc{
  font-size: medium;
  font-weight: normal;
  padding: 2rem;
}
#cart_item_size{
  font-size: medium;
  font-weight: bold;
  padding:2rem 7rem 2rem 2rem;
}
#cart_item_quantity{
  font-size: medium;
  font-weight: bold;
  padding:.5rem 1rem;
}
.quantity_button{
  border: None;
  background-color: transparent;
  font-size: x-large;
  padding:.5rem 1rem;
}
.quantity_button:hover{
  background-color: transparent;
  font-size: x-large;
  color:red;
  padding:.5rem 1rem;
}

.remove_button{
  float: right;
  padding: .5rem 4rem;
  background-color: whitesmoke;
  color :rgb(190, 59, 59);
  font-size: medium;
  font-weight: bold;
  border: 2px solid rgb(190, 59, 59);
}
.remove_button:hover{
  float: right;
  padding: .5rem 4rem;
  background-color: rgb(190, 59, 59);
  color :whitesmoke;
  font-size: medium;
  font-weight: bold;
  border: 2px solid rgb(190, 59, 59);
}
.bill{
  margin:3rem 1rem;
  width:380px;
  height: auto;
  float: left;
  max-width: 100%;
  padding:2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#left_bill{
  font-size: medium;
  font-weight: unset;

}
#right_bill{
  right: 0;
  float:right;
  font-size: medium;
  font-weight: lighter;
  padding-right: 2rem;
}
#dis_amount{
  right: 0;
  float:right;
  font-size: medium;
  font-weight: bold;
  padding-right: 2rem;
  color:tomato;
}
#free_tag{
  color:rgb(221, 55, 13);
}

.check_out_button{
  width: 100%;
  max-width: 100%;
  padding:0.5rem 0rem;
  font-size: larger;
  color:whitesmoke;
  font-weight: bold;
  background-color: tomato;
  border: 2px solid tomato;
}

.check_out_button:hover{
  width: 100%;
  max-width: 100%;
  padding:0.5rem 0rem;
  font-size: larger;
  color:tomato;
  font-weight: bold;
  background-color: whitesmoke;
  border: 2px solid tomato;
}
/* for radio buttons*/

.section{
  padding-top:1rem ;
}

.small , .medium , .large, .xlarge{
   border: 2px solid lightblue;
   padding : 1rem 4rem;
   font-weight: bolder;
   font-size: medium;
   cursor: pointer;
}

label.small{
   border-radius: 100px 0px 0px 100px;
}

label.xlarge{
   border-radius: 0px 100px 100px 0px;
}


.section input[type="radio"]{
   display: none;
}

input[type="radio"]:checked + label{
 border: 2.5px solid palevioletred;
 color:  palevioletred ;
}

input[type="radio"]:disabled + label{
  border: 2.5px solid azure;
  text-decoration: line-through;
  font-weight: lighter;
  background-color: azure;
  color:  black ;
 }

 /* Modal -> sizechart  */
.size_chart{
  float: right;
}

.size_chart_button{
  padding-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  color:rgb(190, 59, 59) ;
}

#size_head{
  float: left;
}

#sizechart_table{
  font-size: medium;
}
.close{
  border: none;
  font-size: small;
  background-color: transparent;
  transform: scale(1.5);
  float: right;
}

#stock_msg{
  margin:2rem;
  padding: 2rem;
  font-size: large;
  font-weight: bold;
}