body{
  font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.nav_gocart{
  border-radius: 0;
  padding: 2rem;
  height: 5rem;
  width: 93vw;
  font-size: large;
}


.title{
  float: left;
}
.heading{
  float: right;
  margin-left:3rem;
}
#title_color{
  color:#ff527b;
}

.home_button{
  border: none;
  overflow: hidden;
  font-size: medium;
  font-weight: bold;
  color:#282c3f;
  padding: .5rem 1rem;
  overflow:hidden;
  background-color: transparent;
}
.home_button:hover{
  border: none;
  background-color: transparent;
  border-bottom:2px solid #f2c210;
}

.home_button_fake{
  border: none;
  overflow: hidden;
  font-size: medium;
  font-weight: bold;
  color:#282c3f;
  padding: .5rem 1rem;
  background-color: transparent;
}
.home_button_fake:hover{
  border: none;
  background-color: transparent;
  border-bottom:2px solid #f2c210;
}
.search_bar{
  margin:0rem 8rem;
  width: 300px;
  color: #696e79;
  background-color: #f5f5f6;
  font-size: medium;
  border:1px solid #f5f5f6;
}
.search_bar:hover{
  margin:0rem 8rem;
  border: 1px solid internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  width: 300px;
  font-size: medium;
}
@media screen and (max-width: 1260px) {
  .search_bar {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .home_button_fake {
    display: none;
  }
}
#cart{
  font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  height: 80vh;
}
#left{
  padding: 2rem;
  overflow: hidden;
  height: 580px;
  width: 500px;
  min-width: 20%;
  margin:0rem 3rem;
  min-height: 100px;
}
#right{
  padding:2rem;
  margin-left: 3rem;
  padding-top:5rem;
}
#prev_next{
  width:93vw;
  overflow-x: hidden;
}
.prev_div{
  width: 50%;
}
.next_div{
  width: 50%;
}
.prev_button{
  border: None;
  padding: 0rem 2rem;
  float: left;
  background-color: transparent;
  font-size: xx-large;
  font-weight: bolder;
}
.next_button{
  border: None;
  padding: 0rem 2rem;
  float: right;
  background-color: transparent;
  font-size: xx-large;
  font-weight: bolder;
}
.next_button:hover , .prev_button:hover{
  border: None;
  background-color: transparent;
  color:tomato;
  font-size: xx-large;
  font-weight: bolder;
}

#brand{
  font-size: 24px;
  color: #282c3f;
  font-weight: 500;
}
#desc{
  font-size: 2.2rem;
  color:#535665;
  font-weight: 400;
}
#rating{
  font-size: 1.5rem;
  font-weight: bolder; 
}
#star{
  padding: 0rem .5rem;
  color: #ff527b;
}
#underline{
  margin-top: 1rem;
  border-top: 1px solid #d4d5d9;
}

#dis_cost{
  font-size: 2.5rem;
  font-weight: bolder;
  padding-right: 2rem;
}

#cost{
  font-size: 2rem;
  font-weight: lighter;
  padding-right: 1rem;
  text-decoration: line-through;
}

#discount{
  font-size: 2rem;
  font-weight: bold;
  color: #ff905a;
}

#taxes{
  font-size: 1.5rem;
  font-weight: bold;
  color:#03a685;
}

#size{
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 4rem;
  padding-bottom: 2rem;
}


#err_msg{
  font-size: 1.5rem;
  font-weight: normal;
  color:#f16565;
  padding-top: 2rem;
  padding-left: 2rem;
}
.addcart{
  font-size: 1.7rem;
  margin-top: 2rem;
  font-weight: bolder;
  padding:1rem 4rem;
  border-radius: 3%;
  background-color: #ff527b;
  border: 2px solid #ff527b ;
  color:whitesmoke ;
  
}

.addcart:hover{
  font-size: 1.7rem;
  margin-top: 2rem;
  font-weight: bolder;
  padding:1rem 4rem;
  border-radius: 3%;
  background-color: transparent;
  border: 2px solid #ff527b ;
  color:#ff527b ;
  
}

.wishlist{
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-left: 4rem;
  font-weight: bolder;
  padding:1rem 4rem;
  border-radius: 3%;
  background-color: transparent;
  border: 1px solid currentColor;
}
.wishlist:hover{
  font-size: 1.7rem;
  margin-top: 2rem;
  font-weight: bolder;
  padding:1rem 4rem;
  border-radius: 3%;
  background-color:transparent;
  color: #ff527b;
  border: 1px solid currentColor; 
}

@media screen and (max-width: 550px) {
  .addcart{
    width: 70vw;
  }
  .wishlist{
    width: 70vw;
    margin-left: 0rem;
  }
}
/* billing page */
.my_shopping_cart{
  border: 1ps solid red;
}
#my_cart_title{
  font-size: large;
  font-weight: bold;
  margin: 0rem;
}
#total_billing_amount{
  font-size: large;
  font-weight: bold;
  color: #ff527b;
  margin: 2rem 2rem 0rem 25rem;
}
@media screen and (max-width: 770px) {
  #total_billing_amount{
    margin: 2rem 2rem 0rem 2rem;
  }
}

#cart_empty{
  font-size: xx-large;
  font-weight: bolder;
  color: tomato;
  margin: 10rem 0rem 0rem 15rem;
  padding-right: 15vw;
  float: left;
}

.cart_items{
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem 2rem;
  min-width: 70%;
  overflow: hidden;
  margin-top:3rem;
}

.cart_img{
  float: left;
  width:20rem;
}
.cart_item_details{
  float: left;
  width: 41rem;
}
@media screen and (max-width: 600px) {
  .cart_item_details {
    width: 35rem;
  }
}


#cart_item_brand{
  font-size: x-large;
  font-weight: bold;
  padding: 2rem;
}
#cart_item_cost{
  font-size: large;
  font-weight: bold;
  float: right;
  padding-top: .5rem;
}
#cart_item_desc{
  font-size: medium;
  font-weight: normal;
  padding: 2rem;
}
#cart_item_size{
  font-size: medium;
  font-weight: bold;
  padding:2rem 7rem 2rem 2rem;
}
#cart_item_quantity{
  font-size: medium;
  font-weight: bold;
  padding:.5rem 1rem;
}
.quantity_button{
  border: None;
  background-color: transparent;
  font-size: x-large;
  padding:.5rem 1rem;
}
.quantity_button:hover{
  background-color: transparent;
  font-size: x-large;
  color:red;
  padding:.5rem 1rem;
}

.remove_button{
  float: right;
  padding: .5rem 4rem;
  font-size: small;
  font-weight: 700;
  border: none;
  background-color: transparent;
  color:#ff527b ;
}
.moveto_button{
  float: left;
  padding: .5rem 4rem;
  font-size: small;
  font-weight: 600;
  border: none;
  background-color: transparent;
  color:currentColor ;
}

.moveto_button:hover{
  color: #ff527b ;
}
.bill{
  margin:3rem 1rem;
  width:380px;
  height: auto;
  float: left;
  max-width: 100%;
  padding:2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#left_bill{
  font-size: medium;
  font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-weight: unset;

}
#right_bill{
  right: 0;
  float:right;
  font-size: medium;
  font-weight: normal;
  padding-right: 2rem;
}
#dis_amount{
  right: 0;
  float:right;
  font-size: medium;
  font-weight: bold;
  padding-right: 2rem;
  color:tomato;
}
#free_tag{
  color:rgb(221, 55, 13);
}

.check_out_button{
  width: 100%;
  max-width: 100%;
  padding:0.5rem 0rem;
  font-size: larger;
  font-weight: bold;
  background-color: #ff527b;
  border: 2px solid #ff527b ;
  color:whitesmoke ;
}

.check_out_button:hover{
  width: 100%;
  max-width: 100%;
  padding:0.5rem 0rem;
  font-size: larger;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #ff527b ;
  color:#ff527b ;
}
/* for radio buttons*/

.section{
  padding-top:1rem ;
}

.small , .medium , .large, .xlarge{
   border: 1px solid #bfc0c6;
   margin: 0rem 1rem;
   padding : 1.5rem 2.1rem;
   font-weight: bold;
   font-size: medium;
   cursor: pointer;
}

label{
   border-radius: 120px;
}


.section input[type="radio"]{
   display: none;
}

input[type="radio"]:checked + label{
 border: 1.5px solid palevioletred;
 color:  palevioletred ;
}
input[type="radio"]:hover + label{
  border: 1px solid palevioletred;
  color:  palevioletred ;
}

input[type="radio"]:disabled + label{
  border: 2.5px solid azure;
  text-decoration: line-through;
  font-weight: lighter;
  background-color: azure;
  color:  black ;
 }

 /* Modal -> sizechart  */
.size_chart{
  float: right;
}

.size_chart_button{
  padding-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  color:#ff3e6c ;
}

#size_head{
  color: #ff3e6c;
  float: left;
}

#sizechart_table{
  font-size: medium;
}
.close{
  border: none;
  font-size: small;
  background-color: transparent;
  transform: scale(1.5);
  float: right;
}

#stock_msg{
  margin:2rem;
  padding: 2rem;
  font-size: large;
  font-weight: bold;
}